<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgendaApp</title>
    <link rel="stylesheet" href="../Css/style-agenda.css">
</head>
<body>
    <nav>
        <div class="nav-container">
            <img class="logo" src="../Imagenes/Logo_mockup.jpg" alt="">
            <div class="nav-button-container">
                <a class="nav-button" href="contactos.html">Contactos</a>
                <a class="nav-button" href="agenda.html">Agenda</a>
                <a class="nav-button" href="configuracion.html">Configuracion</a>
                <a class="nav-button" href="soporte.html">Soporte</a>
                <a class="nav-button" href="registro.html">Registro</a>
                <a class="nav-button" href="ayuda.html">Ayuda</a>
            </div>
            <a id="login_tag" class="nav-button" href="index.html">Login</a>
        </div>
    </nav>
    <main>
        <aside>
            <div class="menu-container">
                <h2>Menú</h2>
                <div class="menu-buttons-container">
                    <div class="button-container">
                        <a class="menu-button" href="#">Insertar</a>
                    </div>
                    <div class="button-container">
                        <a class="menu-button" href="#">Modificar</a>
                    </div>
                    <div class="button-container">
                        <a class="menu-button" href="#">Buscar</a>
                    </div>
                    <div class="button-container">
                        <a class="menu-button" href="#">Eliminar</a>
                    </div>
                </div>
            </div>
        </aside>
        <div class="form-table-container">
            <form class="form-container" action="#" method="get">
                <div class="input-container">
                <input type="text">
                <input type="text">
                </div>
            </form>
            <div class="table-container">
                <table class="table-agenda">
                    <thead>
                        <tr>
                            <th class="table-header">Hora</th>
                            <th class="table-header">Lunes</th>
                            <th class="table-header">Martes</th>
                            <th class="table-header">Miercoles</th>
                            <th class="table-header">Jueves</th>
                            <th class="table-header">Viernes</th>
                            <th class="table-header">Sabado</th>
                            <th class="table-header">Domingo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="table-rows">6:00 am</th>
                            <th class="table-rows">Lunes1</th>
                            <th class="table-rows">Martes1</th>
                            <th class="table-rows">Miercoles1</th>
                            <th class="table-rows">Jueves1</th>
                            <th class="table-rows">Viernes1</th>
                            <th class="table-rows">Sabado1</th>
                            <th class="table-rows">Domingo1</th>
                        </tr>
                        <tr>
                            <th class="table-rows">7:00 am</th>
                            <th class="table-rows">Lunes2</th>
                            <th class="table-rows">Martes2</th>
                            <th class="table-rows">Miercoles2</th>
                            <th class="table-rows">Jueves2</th>
                            <th class="table-rows">Viernes2</th>
                            <th class="table-rows">Sabado2</th>
                            <th class="table-rows">Domingo2</th>
                        </tr>
                        <tr>
                            <th class="table-rows">8:00 am</th>
                            <th class="table-rows">Lunes3</th>
                            <th class="table-rows">Martes3</th>
                            <th class="table-rows">Miercoles3</th>
                            <th class="table-rows">Jueves3</th>
                            <th class="table-rows">Viernes3</th>
                            <th class="table-rows">Sabado3</th>
                            <th class="table-rows">Domingo3</th>
                        </tr>
                        <tr>
                            <th class="table-rows">9:00 am</th>
                        </tr>
                        <tr>
                            <th class="table-rows">10:00 am</th>
                        </tr>
                        <tr>
                            <th class="table-rows">11:00 am</th>
                        </tr>
                        <tr>
                            <th class="table-rows">12:00 pm</th>
                        </tr>
                        <tr>
                            <th class="table-rows">1:00 pm</th>
                        </tr>  
                        <tr>
                            <th class="table-rows">2:00 pm</th>
                        </tr>  
                        <tr>
                            <th class="table-rows">3:00 pm</th>
                        </tr>  
                        <tr>
                            <th class="table-rows">4:00 pm</th>
                        </tr>  
                        <tr>
                            <th class="table-rows">5:00 pm</th>
                        </tr>  
                    </tbody>
                </table>
            </div>

            <section>
                <div class="message-container">
                    <h2>Consola de Mensajes</h2>
                    <p>Mensajes del sistema:</p>
                </div>
            </section>
        </div>
    </main>
   <script>
       const log_tag = document.getElementById("login_tag")
        if (localStorage.length){
             log_tag.innerText= "Cerrar Sesión de: "+ localStorage.getItem("name")
             log_tag.href="/cierre_sesion.html"
        }
   </script>
</body>
</html>