<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AgendaApp</title>
        <link rel="stylesheet" href="/Css/style.css">
    </head>
    <body>
        <nav>
            <div class="nav-container">
                <img class="logo" src="../Imagenes/Logo_mockup.jpg" alt="">
                <div class="nav-button-container">
                    <a class="nav-button" href="contactos.html">Contactos</a>
                    <a class="nav-button" href="agenda.html">Agenda</a>
                    <a class="nav-button" href="configuracion.html">Configuracion</a>
                    <a class="nav-button" href="soporte.html">Soporte</a>
                    <a class="nav-button" href="registro.html">Registro</a>
                    <a class="nav-button" href="ayuda.html">Ayuda</a>
                </div>
                <a class="nav-button" href="index.html">Login</a>
            </div>
        </nav>
        <main>
            <section class="login-mensaje">
                <h1>Su sesión ha sido cerrada con éxito</h1>
            </section> 
        </main>    
        <script>
            localStorage.clear()
        </script>

    </body>
    </html>