<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgendaApp</title>
    <link rel="stylesheet" href="/Css/style.css">
</head>
<body>
    <nav>
        <div class="nav-container">
            <img class="logo" src="../Imagenes/Logo_mockup.jpg" alt="">
            <div class="nav-button-container">
                <a class="nav-button" href="contactos.html">Contactos</a>
                <a class="nav-button" href="agenda.html">Agenda</a>
                <a class="nav-button" href="configuracion.html">Configuracion</a>
                <a class="nav-button" href="soporte.html">Soporte</a>
                <a class="nav-button" href="registro.html">Registro</a>
                <a class="nav-button" href="ayuda.html">Ayuda</a>
            </div>
            <a class="nav-button" href="index.html">Login</a>
        </div>
    </nav>
    <main>
        <div class="form-container">
            <h1>Login</h1>
            <form class="form-login" action="#" method="get">
                    <div class="input-container">
                        <input type="text" id="username" class="form-input" autocomplete="off" placeholder=" ">
                        <label for="username" class="form-label">Username</label>
                    </div>
                    <div class="input-container">
                        <input type="password" id="password" class="form-input" autocomplete="off" placeholder=" ">
                        <label for="password" class="form-label">Password</label>
                    </div>
                    <button class="form-button" type="submit">Iniciar Sesión</button>
                    <p>Aún no te registras? intenta <a href="registro.html">Aquí</a></p>
            </form>
        </div>
    </main>
    <section class="login-mensaje">
        <p></p>
    </section>    
   
</body>
</html>