<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgendaApp</title>
    <link rel="stylesheet" href="/Css/style.css">
</head>
<body>
    <nav>
        <div class="nav-container">
            <img class="logo" src="../Imagenes/Logo_mockup.jpg" alt="">
            <div class="nav-button-container">
                <a class="nav-button" href="contactos.html">Contactos</a>
                <a class="nav-button" href="agenda.html">Agenda</a>
                <a class="nav-button" href="configuracion.html">Configuracion</a>
                <a class="nav-button" href="soporte.html">Soporte</a>
                <a class="nav-button" href="registro.html">Registro</a>
                <a class="nav-button" href="ayuda.html">Ayuda</a>
            </div>
            <a id="login_tag" class="nav-button" href="index.html">Login</a>
        </div>
    </nav>
    <main>
        <div class="form-container">
            <h1>Login</h1>
            <form class="form-login" id="signup" >
                    <div class="input-container">
                        <input type="text" name="login" id="username" class="form-input" autocomplete="off" placeholder=" ">
                        <label for="username" class="form-label">Username</label>
                    </div>
                    <div class="input-container">
                        <input type="password" name="password" id="password" class="form-input" autocomplete="off" placeholder=" ">
                        <label for="password" class="form-label">Password</label>
                    </div>
                    <button class="form-button" type="submit">Iniciar Sesión</button>
                    <p>Aún no te registras? intenta <a href="registro.html">Aquí</a></p>
            </form>
        </div>
    </main>
    <section class="login-mensaje">
        <p id="message"></p>
    </section>    
    <script>
        const signup = document.getElementById("signup")
        const message = document.getElementById("message")
        const log_tag = document.getElementById("login_tag")

        if (localStorage.length){
             log_tag.innerText= "Cerrar Sesión de: "+ localStorage.getItem("name")
             log_tag.href="/cierre_sesion.html"
        }

        signup.onsubmit=function(event){
            event.preventDefault()
            
            
            fetch("/",{
                method:"POST",
                headers:{
                    "Content-Type":"application/json"
                },
                body:JSON.stringify({
                    username:signup.login.value,
                    password:signup.password.value
                })
            }).then(function(result){
                return result.json()
            })
            .then(function(data){
                console.log(data)
                if(data.error){
                    message.innerText=data.message
                }else{
                    console.log(data)
                    if (data.success){
                        const user=data.user
                        message.style.color="green"
                        message.innerText=data.message
                        console.log(user)
                        localStorage.setItem("id",user.id_user_account)
                        localStorage.setItem("username",user.user_login)
                        localStorage.setItem("name",user.nombre)
                        localStorage.setItem("email",user.email)
                        //Redireccion
                        location.href="/agenda.html"
                    }else{
                        message.innerText=data.message
                    }
                }

                
            })
            .catch(function(error){
                console.log(error)
            })
            
        }
    </script>
</body>
</html>